.flow-widget
  h3.flow-hint
    i.fa.fa-table
    | 创建一个数据帧

  table.flow-form
    tbody
      tr
        th
          label 名称
        td
          input.flow-textbox(type='text' data-bind="value:key")
        td 数据帧的名称
      tr
        th
          label 行数
        td
          input.flow-textbox(type='text' data-bind="value:rows")
        td 数据记录的行数
          
      tr
        th
          label 列数
        td
          input.flow-textbox(type='text' data-bind="value:columns")
        td 数据列数（除第一个响应列外）
          
      tr
        th
          label 随机化
        td
          input(type='checkbox' data-bind="checked:randomize")
        td 是否随机化数据帧

      tr
        th
          label 随机种子
        td
          input.flow-textbox(type='text' data-bind="value:seed")
        td 随机数种子

      tr
        th
          label 列类型随机种子
        td
          input.flow-textbox(type='text' data-bind="value:seed_for_column_types")
        td 列类型的随机数种子 （-1 表示使用主随机种子）
          
      tr
        th
          label 值
        td
          input.flow-textbox(type='text' data-bind="value:value")
        td 常量值 (不随机化时此选项设置有效)

      tr
        th
          label 因子
        td
          input.flow-textbox(type='text' data-bind="value:factors")
        td 分类变量的因子水平
          
      tr
        th
          label 分类列占比
        td
          input.flow-textbox(type='text' data-bind="value:categoricalFraction")
        td 分类列占总列的比例分数（随机化时此选项有效）
          
      tr
        th
          label 整形列占比
        td
          input.flow-textbox(type='text' data-bind="value:integerFraction")
        td 整形列占总列的比例分数（随机化时此选项有效）
          
      tr
        th
          label 二项列占比
        td
          input.flow-textbox(type='text' data-bind="value:binaryFraction")
        td 二项列占总列的比例分数 （随机化时此选项有效）

      tr
        th
          label 二项列中1的占比
        td
          input.flow-textbox(type='text' data-bind="value:binaryOnesFraction")
        td 在二项列中值为1的数据占二项列总数据的比例分数

      tr
        th
          label 时间类型列占比
        td
          input.flow-textbox(type='text' data-bind="value:timeFraction")
        td 日期/时间列占总列的比例分数（随机化时此选项有效）

      tr
        th
          label 字符串类型列占比
        td
          input.flow-textbox(type='text' data-bind="value:stringFraction")
        td 字符串类型列占总列的比例分数（随机化时此选项有效）
          
      tr
        th
          label 缺失数据占比
        td
          input.flow-textbox(type='text' data-bind="value:missingFraction")
        td 缺失数据占总数据的比例分数
          
      tr
        th
          label 响应因子
        td
          input.flow-textbox(type='text' data-bind="value:responseFactors")
        td 首列因子个数（1=实数，2=二项式，N=多项）
          
      tr
        th
          label 实数范围
        td
          input.flow-textbox(type='text' data-bind="value:realRange")
        td 实数变量范围range(-range ... range)
          
      tr
        th
          label 整数范围
        td
          input.flow-textbox(type='text' data-bind="value:integerRange")
        td 整数变量范围range(-range ... range)

      tr
        th
          label 有无响应列？
        td
          input(type='checkbox' data-bind="checked:hasResponse")
        td 是否应该生成额外的响应列

        
  .flow-panel
    +button('创建', 'table', 'createFrame')
