.flow-widget
  h3.flow-hint
    i.fa.fa-table
    | 数据帧

  // ko ifnot:hasFrames
  blockquote 您的AIR上没有数据帧。
  .flow-panel
    button.flow-button(type='button' data-bind='click:importFiles')
      i.fa.fa-files-o
      | 导入文件&hellip;
    
  // /ko

  // ko if:hasFrames
  table.flow-form
    thead
      tr
        th(width='1' style='font-size:inherit')
          input(type='checkbox' title='Select or deselect all' data-bind="checked:checkAllFrames")
        th(width='1' style="white-space:nowrap;") 类型
        th ID
        th.flow-right(width='1' style="white-space:nowrap;") 行数
        th.flow-right(width='1' style="white-space:nowrap;") 列数
        th.flow-right(width='1' style="white-space:nowrap;") 大小
    tbody
      // ko foreach:frameViews
      tr
        td
          input(type='checkbox' data-bind="checked:isChecked")
        td
          // ko if:isText
          i.fa.fa-columns
          // /ko
          // ko ifnot:isText
          i.fa.fa-table
          // /ko
        td
          p
            a(href='#' data-bind='text:key, click:view')
          // ko if:isText
          p
            +button('解析&hellip;', 'cog', 'view')
          // /ko
          // ko ifnot:isText
          p
            +button('构建模型&hellip;', 'cube', 'createModel')
            +button('预测&hellip;', 'bolt', 'predict')
            +button('检查', 'list', 'inspect')
          // /ko
        td.flow-right(data-bind='text:rowCount')
        td.flow-right(data-bind='text:columnCount')
        td.flow-right(data-bind='text:size')
      // /ko
  .flow-panel
    +button('在所选数据帧上进行预测&hellip;', 'bolt', 'predictOnFrames', 'hasSelectedFrames')
    +button('删除所选数据帧', 'trash-o', 'deleteFrames', 'hasSelectedFrames')
  // /ko

