.flow-widget
  h3.flow-hint
    i.fa.fa-cube
    | 模型

  // ko with:output

  .flow-margin-after
    table.flow-form
      tbody
        tr
          th.flow-narrow 模型 ID：
          td.flow-wide(data-bind='text:key.name')
        tr
          th.flow-narrow 算法：
          td.flow-wide(data-bind='text:algo')
        tr 
          th(width='1') 操作：
          td
            button.flow-button(type='button' data-bind="click:$parent.toggleRefresh, css:{ 'flow-button-toggle':$parent.isLive }")
              // ko if:$parent.isLive
              i.fa.fa-refresh.fa-spin
              | 结束
              // /ko
              // ko ifnot:$parent.isLive
              i.fa.fa-refresh
              | 刷新
              // /ko

            +button('预测&hellip;', 'bolt', 'predict')
            //- +button('Clone this model&hellip;', 'copy', 'cloneModel')
            button.flow-button(type='button' data-bind="click: downloadPojo, enable: $data.havePojo")
              i.fa.fa-download
              span
              | 下载 POJO
            button.flow-button(type='button' data-bind="click: downloadMojo, enable: $data.haveMojo")
              i.fa.fa-download
              span
              | 下载模型部署包 (MOJO)
            +button('导出', 'save', 'exportModel')
            +button('检查', 'list', 'inspect')
            +button('删除', 'trash-o', 'deleteModel')
            +button('下载h2o-genmodel.jar', 'download', 'downloadGenJar')
      
  h4(data-bind='collapse:true') 模型参数
  div(data-bind="css:{ 'flow-unhide':isExpanded }")
    .flow-right.flow-margin-after 
      // ko ifnot:isExpanded
      +button('显示所有参数', 'angle-double-down', 'toggle')
      // /ko
      // ko if:isExpanded
      +button('显示更改过的参数', 'angle-double-up', 'toggle')
      // /ko
    table.flow-form.flow-form-ruled
      thead
        tr
          th 参数名
          th 值
          th 说明
      tbody
        // ko foreach:inputParameters
        tr(data-bind="css:{ 'flow-hide':isModified }")
          th(data-bind='text:label')
          td(data-bind='text:value')
          td(data-bind='text:help')
        // /ko

  
  // ko foreach:plots
  h4(data-bind='text:title, collapse:isCollapsed')
  div
    table(style='margin:10px 0 20px 0')
      tbody
        tr
          td(style='vertical-align:top')
            div
              .flow-plot(data-bind='raw:plot')
            // ko with:controls
            div
              table
                tbody
                  tr
                    td.flow-monospace-label Threshold:
                    td.flow-monospace-label Criterion:
                  tr
                    td
                      select(data-bind="options:thresholds, optionsText:'value', value:threshold, optionsCaption: 'Choose...'")
                    td
                      select(data-bind="options:criteria, optionsText:'value', value:criterion, optionsCaption: 'Choose...'")
            // /ko

          // ko if:frame
          td(style='vertical-align:top; padding-left:20px')
            div
              .flow-monospace-label Selected mark(s):
            .flow-plot(data-bind='raw:frame')
          // /ko
  // /ko

  div(data-bind='visible: $data.havePojo')
    h4(data-bind='collapse:false') 预览POJO
    div
      // ko ifnot:isPojoLoaded
      button.flow-button(type='button' data-bind="click: previewPojo, enable: $data.havePojo")
        i.fa.fa-code
        span
        | 预览 POJO
      // /ko
      // ko if:isPojoLoaded
      div(data-bind='html:pojoPreview')
      // /ko

  // /ko
