doctype
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title AIR Flow
    meta(name='description', content='AIR Flow')

    //- 
    //- Stylesheets
    //-
    //- link(rel='stylesheet', href='fonts/fontgoogle.css', type='text/css')

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    <![endif]-->

  body
    <!--[if lt IE 9]>
    p.browsehappy
      | 您正在使用的是一个 <strong>过时</strong> 的浏览器。
      | 请 <a href="http://browsehappy.com/">更新您的浏览器</a>
      | 以提升您的体验。
    <![endif]-->

    include core/components/mixins.pug

    include core/components/notebook.pug

    include ext/components/h2o.pug
